<a href="https://colab.research.google.com/github/ikramyoumba1/DataVisualisation-TP2025/blob/main/DVtp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#Part 1 â€“ Case Study: Cleaning and Preparing the Sales Dataset (Outlier Focus)

Task 1.1: Data Acquisition and Initial Review

In [ ]:
url = "https://raw.githubusercontent.com/PacktPublishing/Hands-on-Exploratory-Data-Analysis-with-Python/refs/heads/master/Chapter%204/sales.csv"
df_sales = pd.read_csv(url)

print("First 5 rows:")
display(df_sales.head())

print("Dataset Info:")
df_sales.info()

First 5 rows:

,Account,Company,Order,SKU,Country,Year,Quantity,UnitPrice,transactionComplete
0,123456779,Kulas Inc,99985,s9-supercomputer,Aruba,1981,5148,545,False
1,123456784,GitHub,99986,s4-supercomputer,Brazil,2001,3262,383,False
2,123456782,Kulas Inc,99990,s10-supercomputer,Montserrat,1973,9119,407,True
3,123456783,My SQ Man,99999,s1-supercomputer,El Salvador,2015,3097,615,False
4,123456787,ABC Dogma,99996,s6-supercomputer,Poland,1970,3356,91,True

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Account              10000 non-null  int64
 1   Company              10000 non-null  object
 2   Order                10000 non-null  int64
 3   SKU                  10000 non-null  object
 4   Country              10000 non-null  object
 5   Year                 10000 non-null  int64
 6   Quantity             10000 non-null  int64
 7   UnitPrice            10000 non-null  int64
 8   transactionComplete  10000 non-null  bool
dtypes: bool(1), int64(5), object(3)
memory usage: 634.9+ KB

Task 1.2: Feature Engineering â€“ Calculating Total Price

In [ ]:
df_sales['TotalPrice'] = df_sales['Quantity'] * df_sales['UnitPrice']

print("Check new 'TotalPrice' column:")
display(df_sales.head())

Check new 'TotalPrice' column:

,Account,Company,Order,SKU,Country,Year,Quantity,UnitPrice,transactionComplete,TotalPrice
0,123456779,Kulas Inc,99985,s9-supercomputer,Aruba,1981,5148,545,False,2805660
1,123456784,GitHub,99986,s4-supercomputer,Brazil,2001,3262,383,False,1249346
2,123456782,Kulas Inc,99990,s10-supercomputer,Montserrat,1973,9119,407,True,3711433
3,123456783,My SQ Man,99999,s1-supercomputer,El Salvador,2015,3097,615,False,1904655
4,123456787,ABC Dogma,99996,s6-supercomputer,Poland,1970,3356,91,True,305396

Task 1.3: Outlier Detection and Filtering

In [ ]:
outliers = df_sales[df_sales['TotalPrice'] > 3_000_000]
print(f"Number of outlier transactions: {outliers.shape[0]}")
print(f"\nOutliers \n: {outliers.head(3)} \n\n")
df_cleaned_outliers = df_sales[df_sales['TotalPrice'] <= 3_000_000]

removed_rows = df_sales.shape[0] - df_cleaned_outliers.shape[0]
print(f"Rows before removing outlier filtering: {df_sales.shape[0]}")
print(f"Rows after removing outlier filtering: {df_cleaned_outliers.shape[0]}")

Number of outlier transactions: 2094

Outliers
:       Account    Company  Order                SKU     Country  Year  \
2   123456782  Kulas Inc  99990  s10-supercomputer  Montserrat  1973
7   123456785  ABC Dogma  99998   s9-supercomputer     Belarus  2015
13  123456788   Will LLC  99995   s2-supercomputer       Niger  2008

    Quantity  UnitPrice  transactionComplete  TotalPrice
2       9119        407                 True     3711433
7       6576        603                False     3965328
13      8700        547                False     4758900


Rows before removing outlier filtering: 10000
Rows after removing outlier filtering: 7906

#Part 2 â€“ Pandas Wrangling and Variable Classification

Task 1.1: Data Acquisition and Initial Review

In [ ]:
# Count duplicated rows
duplicates_count = df_sales.duplicated().sum()
print(f"Number of duplicate rows: {duplicates_count}")

# Remove duplicates, keep the last occurrence
df_no_duplicates = df_sales.drop_duplicates(keep='last')

# Verify row count
print(f"Rows after removing duplicates: {df_no_duplicates.shape[0]}")

Number of duplicate rows: 0
Rows after removing duplicates: 10000

Task A.2: Handling Missing Data

In [ ]:
# Count missing values per column
print("Missing values per column:")
print(df_no_duplicates.isna().sum())

# Drop rows with any missing value (temporary)
df_dropna = df_no_duplicates.dropna()
rows_lost = df_no_duplicates.shape[0] - df_dropna.shape[0]
print(f"\nRows lost after dropping missing values: {rows_lost}")

Missing values per column:
Account                0
Company                0
Order                  0
SKU                    0
Country                0
Year                   0
Quantity               0
UnitPrice              0
transactionComplete    0
TotalPrice             0
dtype: int64

Rows lost after dropping missing values: 0

Task A.3: Discretization and Binning

In [ ]:
labels = ['Low Quantity', 'Medium Quantity', 'High Quantity']

df_no_duplicates['Quantity_Bin'] = pd.cut(df_no_duplicates['Quantity'], bins=3, labels=labels)

# Analyze distribution
print("ðŸ”¹ Quantity Bin Distribution:")
print(df_no_duplicates['Quantity_Bin'].value_counts())

ðŸ”¹ Quantity Bin Distribution:
Quantity_Bin
Low Quantity       3357
Medium Quantity    3339
High Quantity      3304
Name: count, dtype: int64

#Part B â€“ Variable Classification

Task B.1: Classification by Statistical Type

| Variable Name    | Statistical Type | Sub-Type   |
| ---------------- | ---------------- | ---------- |
| **UnitPrice**    | Quantitative     | Continuous |
| **Quantity**     | Quantitative     | Discrete   |
| **Description**  | Categorical      | Nominal    |
| **Country**      | Categorical      | Nominal    |
| **TotalPrice**   | Quantitative     | Continuous |
| **Quantity_Bin** | Categorical      | Ordinal    |

Task B.2: Classification by Role

In [ ]:
print("Outcome/Dependent Variable: TotalPrice")
print("Explanatory/Independent Variables: Quantity, UnitPrice, Country")

Dependent Variable: TotalPrice
Independent Variables: Quantity, UnitPrice, Country

Task B.3: Creating Indicator (Dummy) Variables

In [ ]:
# Create dummy variables for 'Country'
df_country_dummies = pd.get_dummies(df_sales['Country'])

# Display first 5 rows
print("ðŸ”¹ Dummy Variables for Country:")
display(df_country_dummies.head())

# Explanation: A value of '1' indicates the transaction belongs to that country.

ðŸ”¹ Dummy Variables for Country:

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antarctica (the territory South of 60 deg S),Antigua and Barbuda,Argentina,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis and Futuna,Western Sahara,Yemen,Zambia,Zimbabwe
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False